@import url('img/squares.svg');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#top {
    background-image: url(https://www.barcelonacodeschool.com/files/pics/cur_files/squares.svg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    height: 100px;
    padding-top: 82px;
}


h1 {
    float: left;
    padding-left: 75px;
    font-size: 40px;
    font-variant: small-caps;
}
.nav-link {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-link:hover {
    background: rosybrown;
}
nav {
    background: #000;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.nav-button {
    background: #000;
    color:#fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;
}

@media (max-width: 800px) {
    nav  {
        flex-direction: column;
    }
    .nav-link {
        margin: 10px 0;
    }
    .nav-button {
        display: inline-block;
    }
    .disapper {
        display: none;
    }
  }

#header {
    width: 100%;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.title-two {
    text-align: center;
    text-transform: uppercase;
    margin-top: 2%;
}
.social-link {
    color: #000;
}
.redes {
    margin-left: 20%;
    margin-top: 5%;
}

.highligliter {
    background-color: yellow;
}

.video {
    box-shadow: -3px 3px #000;
    position: relative;
}

@media (max-width: 800px) {
    #header {
        display:flex;
        margin: auto;
        padding: 0;
    }
  }

.button {
  border-radius: 0;
  border: 1px solid #000;
  padding: 0.5em; 
  text-decoration: none;
}

.h2-skills {
    margin-top: 40px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    padding: 10px 0 10px 20px;
}

.skills {
    display: flex;
    margin-top: 0;
    color: #fff;
    background-color: #000;
}
.skills h3 {
    margin-left: 20px;
    text-transform: uppercase;
}
.skills p {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 25px;
}

#dates h2 {
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    padding: 10px 0 10px 20px;
}
.starting-dates {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid grey;
    text-align: justify;
    box-shadow: -3px 3px #000;
    padding: 1em;
    margin-left: 60px;
    margin-right: 60px;
}
.starting-dates h3 {
    text-transform: uppercase;
}
.button-dates {
    border-radius: 0;
    border: 3px solid #000;
    padding: 0.5em; 
    text-decoration: none;
    margin-left: 30%;
    margin-right: 30%;
}


#campus h2 {
    background-color: #000;
    color:#fff;
    text-transform: uppercase;
    padding: 10px 0 10px 20px;
}
.campus  {
    margin: 0 auto;
    text-align: center;
}

.campus img{
    padding-right: 20px;
}

footer {
    background-color: #000;
    color:#fff;
    text-align: center;
}